[submodule "liquidprompt"]
	path = liquidprompt
	url = https://github.com/nojhan/liquidprompt
[submodule "i3/i3-gnome-pomodoro"]
	path = i3/i3-gnome-pomodoro
	url = https://github.com/Asenar/i3-gnome-pomodoro
